PORT=3000
SITE_URL=http://localhost:3000

STRIPE_SECRET_KEY=sk_test_xxx

SMTP_HOST=smtp.jouwdomein.nl
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@jobsmotorreizen.nl
SMTP_PASS=sterkwachtwoord

OWNER_EMAIL=info@jobsmotorreizen.nl
FROM_EMAIL=info@jobsmotorreizen.nl
